{
  "ConnectionStrings": {
    "database": "Host=localhost;Port=5432;Database=starterapp;Username=postgres;Password=Your_password123"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information"
    }
  }
}
