{
  "ConnectionStrings": {
    "database": "Server=localhost;Database=StarterApp;User Id=sa;Password=Your_password123;TrustServerCertificate=True;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information"
    }
  }
}
